.container
{
    width: 375px;
    background-color: rgb(161, 219, 219);
    border: black solid;
    border-radius: 5px;
    border-color: black;
    position: relative;
    margin: auto;
}

h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
}

.openAdd
{
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#addnewItem 
{
    width: 25px;
    height: 25px;
    font-size: 15px;
    margin: 10px;
    background-color: white;
    color: black;
    border: none;
}

#Input
{
    display: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

#Add_newItem_button {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-style:initial;
    border-color: black;
    margin-bottom: 10px;
    width: 100px;
    height: 20px;
}


#list
{
    height: auto;
    margin-bottom: 10px;
}


.item_box
{
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px solid black;
}

.product
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -10px;
}

.date
{
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: -1px;
    font-family: Arial, Helvetica, sans-serif;
}

.amount_item
{
    margin-bottom: 1px;
}

.comment
{
    width: 350px;
    margin-bottom: 2px;
}

.fa-check, .fa-cart-shopping, .fa-circle
{
    margin-right: 10px;
    margin-bottom: 10px;
}

.status_item
{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-style:initial;
    border-color: black;
    margin-bottom: 10px;
    width: 200px;
    height: 20px;
}

.fa-trash
{
    text-align: right;
    margin-left: 10px;
    margin-bottom: 10px;
}